<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!-- <ion-item nav-clear menu-close href="#/app/login"> -->
          <!-- Login -->
        <!-- </ion-item> -->

        <ion-item nav-clear menu-close href="#/app/projects">
          Projects
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
