<ion-view title="{{ project.name | uppercase }} - ({{ (project.issues | filter: myFilter).length}})" hide-back-button="false">


  <ion-content class="has-header" id="project-content">
    <ion-list can-swipe="listCanSwipe">
      <!-- <ion-item ng-repeat="issue in project.issues | filter: myFilter"> -->
      <ion-item ng-repeat="issue in project.issues | filter: myFilter">

        <h2>{{issue.subject}}</h2>
        <div class="row ">

          <div class="col col-20 info">
            <p class="id">#{{ issue.id }}</p>
            <p ><span class="label">{{ issue.tracker.name }}</span></p>
          </div>

          <div class="col col-40">
            <p>{{ issue.status.name }}</p>
            <p>{{ issue.priority.name }}</p>
          </div>

          <div class="col col-43 responsive-sm">
            <div class="row assigned_to">
              <img ng-src="{{issue.assigned_to.avatar}}" class="gravatar"><span class="name">{{issue.assigned_to.name}}</span>
            </div>
            <div class="row">
              <!-- <progress value="{{ issue.done_ratio }}" max="100"></progress> -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{issue.done_ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{issue.done_ratio}}%;">
                  <span class="sr-only">{{issue.done_ratio}}% Complete</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-dark">
    <button class="button button-icon icon ion-navicon-round col col-25" ng-click="myFilter = null"></button>
    <button class="button button-icon icon ion-bug col col-25" ng-click="myFilter = { tracker: { name: 'Bug' }}"></button>
    <button class="button button-icon icon ion-lightbulb col col-25" ng-click="myFilter = { tracker: { name: 'Feature' }}"></button>
    <button class="button button-icon icon ion-person col col-25" ng-click='myFilter = { assigned_to: { name: currentUser.fullname }}'></button>
  </ion-footer-bar>
</ion-view>
