<ion-view title="Projects" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-power" href="#/app/logout"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="project in projects" href="#/app/projects/{{project.id}}">
        {{project.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
