#project-content {
  // padding: 15px;

  p, span {
    font-size: 10px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .item-content .row .col {
    height: 50px;

    progress {
      margin: 4px auto;
    }

  }

  .info {
    display: inline-block;
    width: 20%;
    float: left;

    .id {
      margin-bottom: 2px;
    }

    .label {
      background-color: blue;
      color: #FFF;
      padding: 1px 5px;
    }
  }

  .assigned_to {

    display: table-cell;
    vertical-align: middle;

    .gravatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 0;
      vertical-align: middle;
      margin: auto;
    }

  }

}
