#project-content p, #project-content span {
  font-size: 10px; }
#project-content h2 {
  margin-bottom: 10px;
  font-size: 14px; }
#project-content .item-content .row .col {
  height: 50px; }
  #project-content .item-content .row .col progress {
    margin: 4px auto; }
#project-content .info {
  display: inline-block;
  width: 20%;
  float: left; }
  #project-content .info .id {
    margin-bottom: 2px; }
  #project-content .info .label {
    background-color: blue;
    color: #FFF;
    padding: 1px 5px; }
#project-content .assigned_to {
  display: table-cell;
  vertical-align: middle; }
  #project-content .assigned_to .gravatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    vertical-align: middle;
    margin: auto; }
